body {
font-size: 16px;
background-color: #F5F1E2;
min-height: 100%;
height: auto;
}

.well {
background-color: #66847F;
}

h1 {
font-size: 40px;
color: #FFC95B;
font-weight: bold;
}

p {
margin-top:40px;

}
td {
border: 3px solid black;
font-weight: bold;
font-size: 60px;
cursor: pointer;
width: 150px;
height: 120px;
text-align: center;
}

caption {
color: #333;
}

.btn-default {
width: 50px;
height: 40px;
}

.btn-danger {
display: block;
margin-top: 30px;
width: 100px;
height: 50px;
margin-bottom: 50px;
}

.btn-default.comp {
display:block;
margin-top: 30px;
width: 200px;
height: 50px;
}

.foot {
position: fixed;
bottom: 0px;
width: 100%;
height: auto;
background-color: #565D5D;
}

.pFooter {
font-size: 12px;
color: white;
margin:0;
}
